.toolBoxContainer {
  @apply absolute top-80 left-2 p-2 inline-block my-4 bg-white;
  box-shadow: theme("colors.shadow1");

  .toolItem {
    @apply py-2;

    .toolText {
      @apply text-lg;
    }

    .itemContainer {
      @apply inline-flex flex-wrap items-center;

      .colorBox {
        @apply w-8 h-8 mr-2 border;

        &:hover,
        &.active {
          @apply cursor-pointer;
          border: 1.5px solid theme("colors.border2");
          box-shadow: theme("colors.shadow2");
        }
      }
    }
  }
}
